{%extends "base.html" %}
{%block title %}Chat{% endblock %}
{%block content %}

<div class="chat-container">
    <h2>Chat</h2>

    <!-- Allows messages by unique and identifiable users (with username & badge)-->
    <div class="chat-box" id="chatBox">
        {% for m in messages %}
            <div class="message">
                <div class="message-header">
                    <div>
                        <span class="username">{{ m.username }}</span>
                        <span class="badge badge-{{ m.badge }}">
                            {{m.badge}}
                        </span>
                    </div>
                </div>

                <div class="message-text">
                    {{m.message_text}}
                </div>

            </div>
        {% endfor %}

        {% if messages|length == 0 %}
            <p>No messages</p>
        {%endif%}

    </div>

    
    {%if username%}
        <form class="chat-input" method="POST" action="/chat/send">

            <input 
                type="text" 
                name="message_text"
                maxlength="200"
                placeholder="Type your message..."
                required
            >
            <button type="submit">Send</button>
        </form>

    {% else %}
        <p style="text-align:center;">Login to chat</p>
    {% endif %}

</div>

<!--Keeps chat positioned at the bottom and refreshes every 5 seconds for new messages to appear-->
<script>
    const chatBox = document.getElementById("chatBox");
    chatBox.scrollTop = chatBox.scrollHeight;

    setTimeout(() => {
        window.location.reload();
    }, 5000);
</script>

{%endblock%}