<header>
    <a href="/" class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </a>

    <!--Header template for all html pages depending on if username exists (user is logged in)-->
    <nav>
        {% if username %}

            <div class="nav-user">
                <span class="username">{{username}}</span>
                <span class="badge badge-{{ badge_name }}">{{badge_name }}</span>
                <span class="user-metrics">
                    {{total_points}} pts -
                    {{total_predictions}} predictions -
                    {{total_winnings}} wins
                </span>
            </div>

            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/chat">Chat</a>
                <a href="/history">History</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/logout">Logout</a>
            </div>

        {% else %}

            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/chat">Chat</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/login">Account</a>
            </div>
        {%endif%}
    </nav>
</header>