{%extends "base.html" %}
{%block title %} Leaderboard {%endblock %}
{%block content %}

<!--Creates a basic ranked leaderboard based on all user's points-->
<div class="leaderboard-container">
    <div class="top-bar">
        <h1>Leaderboard</h1>
        <p class="subtitle">Top Users</p>
    </div>

    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Badge</th>
                <th>Points</th>
            </tr>
        </thead>

        <tbody>
            {%for r in leaderboard_rows%}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ r.username }}
                </td>
                <td>
                    {{ r.badge }}
                </td>
                <td>
                    {{ r.total_points }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if leaderboard_rows|length == 0%}
        <p style="text-align:center;">No users</p>
    {% endif %}
</div>

<script>
    setTimeout(() => {
        window.location.reload();
    }, 10000);
</script>

{%endblock%}